name: Build and Release Avro Schema Project

# Workflow triggers
on:
  push:
    branches:
      - main
    tags:
      - 'v*' # Trigger on tags like v1.0.0
  workflow_dispatch:

# Set permissions for the workflow
permissions:
  contents: write # Required for creating releases and uploading assets

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # Cache Maven dependencies
      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven

      # Build the project
      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Current dir
        run: pwd

      - name: List files in target directory
        run: ls -al target/

      # Upload the JAR artifact
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v3
        with:
          name: kasa-avro-schema
          path: target/*.jar

  # Release job
  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Current dir
        run: pwd

      - name: List files in target directory
        run: ls -al

      # Download the build artifact
      - name: Download JAR artifact
        uses: actions/download-artifact@v3
        with:
          name: kasa-avro-schema

      # Generate a unique tag
      - name: Generate unique tag
        id: generate_tag
        run: echo "tag=v$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Current dir
        run: pwd

      - name: List files in target directory
        run: ls -al

      # Create a GitHub Release
      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: ./*.jar
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: release-${{ env.tag }}
          name: release-${{ env.tag }}
          body: |
            ### Release Notes
            This is an automatically generated release.
          draft: false
          prerelease: false
